<div class="container-fluid">
  <div class="profile-picture rotate-clockwise">
    <div class="profile-picture--content" id="avatar-picture">
      <div class="profile-picture--content-img rotate-counterclockwise">
        <!-- <img src="../assets/pictures-profile/avatar-dev.png" /> -->
        <p class="profile-picture--text">Your Image</p>
      </div>
    </div>
  </div>
  <div class="profile">
    <h1 [innerHTML]="">{{ avatarData.name }}</h1>
    <h5>{{ avatarData.profession }}</h5>
  </div>
</div>